*, :after, :before { box-sizing: border-box; }

:root {
    --primary-c: #2EA4DC;
    --secondary-c: #F7F7FF;
    --background-c: #FFF833;
    --body-c: #E0EBF5;
}
body {
    background-color: var(--body-c);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.main {
    background-color: var(--secondary-c);
    margin: 0px 5% 30px 5%;
    padding: 50px 5%;
}
.header {
    height: 250px;
    background-image: url(/images/panorama2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    padding: 0;
}
.header__title {
    color: black;
    margin: 0px 5%;
    padding: 60px 5% 0 5%;
    text-align: left;
    text-shadow: 1px 1px 5px var(--secondary-c);
}
.menu {
    padding: 0 5%;
    margin: 0;
    background-color: var(--primary-c);
}
.menu__checkbox {
    position: absolute;
    left: -9999px;
}
.menu__toggler {
    cursor: pointer;
    color: var(--secondary-c);
    font-size: 22px;
    margin: 0 5%;
}
.menu__list {
    margin: 0px 5%;
    padding: 0 16px;
    list-style: none;
    display: none;
}

.menu__link {
    display: block;
    color: var(--secondary-c);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 2px;
}
.menu__link:hover {
    color: var(--primary-c);
    background-color: var(--secondary-c);
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.footer {
    background-color: var(--primary-c);
    padding: 5px 0;
    margin-top: 30px;

}
.footer__text {
    text-align: center;
    color: var(--secondary-c);
}
.box {
    padding: 0 15px;
    margin-bottom: 5px;
    border: 1px solid var(--body-c);
    border-radius: 2px;
}
.box__title {
    font-size: 22px;
    margin: 20px 0;
}
.box__content {
    display: flex;
    align-items: center;
}
.box__icon {
    height: 35px;
    margin: 10px 10px 10px 0;
}
.box__align {
    color: black;
}
.box__align:hover {
    color:var(--primary-c);
}
.box__table {
    text-align: left;
    border-spacing: 0px;
    margin-bottom: 5px;
}
.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container__image {
    object-fit: cover;
    align-items: center;
    max-width: 100%;
    align-items: center;
    margin-top: 20px;
}
.text--small {
    font-size: 14px;
    text-align: center;
}
.container--small {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.table {
    align-items: center;
    border-spacing: 0px;
    margin-bottom: 5px;
}
.table__item {
    border-top: 1px solid var(--body-c);
    padding: 5px 15px;
    font-weight: normal;
}
.box--center {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.article {
    display: flex;
    flex-direction: column;
}
.article__title {
    font-size: 24px;
    font-weight: bold;
}
.article__perex {
    font-weight: bold;
}
.article__image {
    align-items: center;
    max-width: 70%;
}


@media  screen and (min-width: 750px) {
    .container--small {
        grid-template-columns: 1fr 1fr;
    }
    .header__title {
        font-size: 42px;
    }
    .menu__toggler {
        display: none;
    }
    .menu__list {
        display: flex !important;
        justify-content: space-between;
    }
    .menu__item {
        border-bottom: 0;
    }
    .menu__link {
        border-radius: 2px;
    }
   
}