*, :after, :before { box-sizing: border-box; }

:root {
    --primary-c: #00AACC;
    --secondary-c: #F7F7FF;
    --background-c: #FFF833;
    --body-c: #E0EBF5;
}
body {
    background-color: var(--body-c);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.main {
    background-color: var(--secondary-c);
    margin: 0px 5%;
    padding: 5px 5%;
    /*box-shadow: 1px 1px 5px rgb(200, 200, 200);*/
}
.header {
    background-color: var(--primary-c);
    padding: 10px 0;
}
.header__title {
    color: var(--secondary-c);
    margin: 20px 5%;
    text-align: center;
}
.menu {
    padding: 5px 5%;
    margin: 0;
    border-bottom: 1px solid black;
    background-color: var(--secondary-c);
    /*box-shadow: 10px 10px 10px rgb(0, 0, 0);*/
}
.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}
.menu__link {
    color: black;
    text-decoration: none;
}
.footer {
    background-color: var(--primary-c);
    padding: 5px 0;

}
.footer__text {
    text-align: center;
    color: var(--secondary-c);
}
.box {
    background-color: #F0F5FA;
    padding: 0 15px;
    margin-bottom: 5px;
    border: 1px solid var(--body-c);
    border-radius: 2px;
}
.box__title {
    font-size: 22px;
}

@media  screen and (min-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
}