*, :after, :before { box-sizing: border-box; }

:root {
    --primary-c: #2EA4DC;
    --secondary-c: #F7F7FF;
    --background-c: #FFF833;
    --body-c: #E0EBF5;
}
body {
    background-color: var(--body-c);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.main {
    background-color: var(--secondary-c);
    margin: 0px 5%;
    padding: 50px 5%;
    /*box-shadow: 1px 1px 5px rgb(200, 200, 200);*/
}
.header {
    height: 250px;
    background-image: url(images/panorama2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    padding: 0;
}
.header__title {
    color: black;
    margin: 0px 5%;
    padding: 60px 5% 0 5%;
    text-align: left;
    text-shadow: 1px 1px 5px var(--secondary-c);
}
.menu {
    padding: 5px 5%;
    margin: 0;
    border-bottom: 2px solid rgba(90, 90, 90, 0.1);
    background-color: var(--primary-c);
    /*box-shadow: 10px 10px 10px rgb(0, 0, 0);*/
}

.menu__list {
    margin: 10px 5%;
    display: flex;
    list-style: none;
    padding: 0 16px;
    justify-content: space-between;
}
.menu__link {
    color: var(--secondary-c);
    text-decoration: none;
}

.footer {
    background-color: var(--primary-c);
    padding: 5px 0;

}
.footer__text {
    text-align: center;
    color: var(--secondary-c);
}
.box {
    background-color: #F0F5FA;
    padding: 0 15px;
    margin-bottom: 5px;
    border: 1px solid var(--body-c);
    border-radius: 2px;
}
.box__title {
    font-size: 22px;
    margin: 20px 0;
}
.box__content {
    display: flex;
    align-items: center;
}
.box__icon {
    height: 35px;
    margin: 10px 10px 10px 0;
}
.box__align {
    color: black;
}
/*.box__align a:hover {
    color:var(--primary-c);
}*/
.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container__image {
    object-fit: cover;
    align-items: center;
    max-width: 100%;
    align-items: center;
    margin-top: 20px;
}
.text--small {
    font-size: 14px;
    text-align: center;
}
.container--small {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.table {
    align-items: center;
    border-spacing: 0px;
    margin-bottom: 5px;
}
.table__item {
    border-bottom: 1px solid black;
    padding: 5px 15px;
}
.box--center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media  screen and (min-width: 750px) {
    .container--small {
        grid-template-columns: 1fr 1fr;
    }
    .header__title {
        font-size: 42px;
    }
    
}